{% extends "base.html" %}

{% block title %}Archive - {{ site.title }}{% endblock %}

{% block content %}
<section class="archive">
    <h1>{% if tag %}Tag: {{ tag }}{% elif category %}Category: {{ category }}{% else %}Archive{% endif %}</h1>

    <ul class="archive-list">
        {% for post in posts %}
        <li>
            <time datetime="{{ post.date | date(format='%Y-%m-%d') }}">
                {{ post.date | date(format='%Y-%m-%d') }}
            </time>
            <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
